body{
    font-family:"Lato", sans-serif; 
   background-color: #ededed;
}

h1{
    text-align: center;  
    font-size: 275%; 
}

h4{
    font-weight: 100;
    text-align: center;  
}

table{
    width: 100%;
}

th{
    background-color: #0e7dc2;
    color: white;
    padding: 1em;
}

td{
    background-color: white;
    padding: 1.5em;
    text-align: center;
}

#signature{
    width: 35%;
    height: 35%;
}

button{
    color: #fff;
    background: red;
    padding: 1em;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    
    font-size: 200%;
}

hr {
    width: 90%; 
    border: 3px solid #0e7dc2;
}

p, .section2, .caption{
    font-size: 175%;    
}

.caption{
    text-align: center;
}

.image{
    display: block;
  margin-left: auto;
  margin-right: auto;

} 

.press{
    text-align: center;
}

@media screen and (min-width: 760px)  {
.image{
    width: 50%;
    height: 50%;
}

#signature{
    width: 20%;
    height: 20%;
}
}